@model IEnumerable<RCA.Models.Polizza>

@{
    ViewBag.Title = "InfoPolizze";
}

<h2>Polizze Attive</h2>

<table class="table table-success table-striped">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(model => model.Stipula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scadenza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImportoRata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSaldo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stipula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scadenza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportoRata)
            </td>
            <td>
                <div class="containercheck" id="busbox">
                    @Html.DisplayFor(modelItem => item.Saldata)
                    <span class="checkmark">
                        <span class="checkedicon">
                            @{
                                if (item.Saldata == true)
                                {
                                    <i class="fa-solid fa-square-check"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-square-xmark"></i>
                                }
                            }

                        </span>
                    </span>
                    <div id="notif1" :class="{noNotify: notifica0 , notify: notifica1}"></div>
                </div>
                @*@Html.DisplayFor(modelItem => item.Saldata)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaldo)
            </td>
        </tr>
    }

</table>
